<nav class="navbar navbar-light navbar-expand-xl">
    <div class="pl-5 pr-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="rounded img-fluid img-res" src="/assets/images/user.jpg"><strong> User Portfolio</strong></a>
          
    </div>
    
</nav>