/* You can add global styles to this file, and also import other style files */
.cuppa-dropdown{
    border: 1px solid #ced4da !important;
    border-radius: 4px !important;
  }
  .dropdown-list ul li{
    padding: 2px 5px !important;
  }
  .selected-list .c-angle-down, .selected-list .c-angle-up{
      top: 15px !important;
  }
  .list-filter .c-search{
    top: 5px !important;
  }
  .selected-list .c-list .c-token{
      padding:0px 2px !important;
  }